exclude Dockerfile
exclude .git*
exclude .readthedocs.yml

prune .*
prune bootstrap
prune bootstraps
prune doc
prune docs
prune example
prune examples
prune data
prune log
prune logs
prune out
prune output
prune requires
prune submodule
prune submodules
prune schema
prune schemas
prune test
prune tests
prune tmp
prune temp
prune tool
prune tools
prune *.git*
